<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="smacovilanguage.design.Activator"
               id="smacovilanguage.design"
	       name="smacovilanguage">
    </component>
  </extension>
</plugin>
